<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создать статью - ***Название блога***</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<form action="" method="post">
    <p>Название статьи:</p>
    <p><input type="text" name="article_name"></p>
    <p>Текст статьи:</p>
    <p><textarea rows="10" cols="45" name="article_content"></textarea></p>
    <a href="entry/<key>">Отправить</a>

</form>

<!-- тут должна быть форма создания статьи -->

</body>
</html>